

#banner img{
    width: 100%;
    height: auto;
    margin-top: 50px;
}

#banner .contenedor{
    position: absolute;
    top: 26%;
    left: 5%;
    color: white;
    text-align: center;
    width: 90%;

}

#banner .contenedor h2{
    -webkit-text-stroke-color: rgb(0, 0, 0);
      /* shorthand */
    -webkit-text-stroke: 1px rgb(0, 0, 0);
      /* color del texto */
    -webkit-text-fill-color: rgb(255, 255, 255);
    font-size: 30px;
}
#banner p{
    font-size: 18px;
}
#banner a{
    display: block;
    width: 100px;
    border: 2px solid rgb(199, 0, 0);
    border-radius: 7px;
    text-decoration: none;
    padding: 2px;
    color: white;
    margin: auto;

}

#banner a:hover{
    background: rgb(210, 155, 0);
    transition: 1s;
}
