

#banner img{
    width: 100%;
    height: auto;
    margin-top: 50px;
}

#banner .contenedor{
    position: absolute;
    top: 10%;
    left: 5%;
    color: white;
    text-align: center;
    width: 90%;
    height: auto;

}

#banner .contenedor h1{
    -webkit-text-stroke-color: rgb(216, 164, 164);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(255, 255, 255);
    font-size: 34px;
}

#banner .contenedor h2{
    -webkit-text-stroke-color: rgb(216, 164, 164);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(255, 255, 255);
    font-size: 27px;
    margin-bottom: 8px;
}


#banner a{
    display: block;
    width: 100px;
    border: 2px solid rgb(199, 0, 0);
    border-radius: 7px;
    text-decoration: none;
    padding: 2px;
    color: white;
    margin: auto;

}

#banner a:hover{
    background: rgb(210, 155, 0);
    transition: 1s;
}
