#bienvenidos{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 5vh;
    padding-left: 5vh;
    background-color: rgb(199, 0, 0);
    color: white;
    margin-bottom: 5;
    margin-top: -1vh;
    
}

#bienvenidos h2{
    padding-bottom: 1vh;
}