@import url(menu.css);
@import url(fontello.css);
@import url(banner.css);
@import url(contenido.css);
@import url(blog.css);
@import url(info.css);


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 50px;
    background: rgb(199, 0, 0);
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

}

header h1{
    float: left;
    margin-top: 6px;
}


header .contenedor{
    width: 98%;
    margin: auto;
}

footer{
    font-size: 13px;
    text-align: center;
    height: 10vh;
    background-color: rgb(0, 0,0);
    padding-top: 1vh;
    padding-bottom: 1vh;
    
}

footer .contenedor{
    margin-top: 4vh;
    color: white;
}

