#info{
    text-align: center;
    background: rgb(199, 0, 0);
    color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;

}

#info .contendor{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#info h2{
    padding-bottom: 1vh;
}

#info img{
    width: 180px;
    height: 120px;
}