#menu-bar{
    display: none;
}

header label{
    float: right;
    font-size: 28px;
    margin: 8px 0px;
    cursor: pointer;

}

.menu{
    position: absolute;
    top: 50px;
    left: 0vh;
    width: 100%;
    height: 100vh;
    background: rgba(199, 0, 0, );

    transform: translateX(+100%);
    transition: all 1.5s;

}

.menu a{
    display: block;
    color: rgba(255, 255, 255);
    text-decoration: none;
    height: 30px;
    padding: 10px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.7);
    
}

.menu a:hover{
    background: rgb(210, 155, 0);
    transition: 1s;
}

#menu-bar:checked~.menu{
    transform: translateX(0);
}

@media(min-width:1024px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        float: right;
        display: flex;
        transform: translateX(0%);
    }

    .menu a{
        border: none;
        
    }

    header label{
        display: none;
    }
}